<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>[nano.Golo]</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
</head>

<body style="visibility:hidden">

    <div class="container-fluid">
        <div class="hero-unit" style="padding-top:15px; padding-bottom:15px;">
            <h1>n'Golo</h1>
            <h4>aka nano.Golo &#10084; <i>3nl4rg3 your community</i></h4>
            <h2>Stupendous nano-frameworks written in <a href="http://golo-lang.org/">Golo</a> for fun.</h2>
            <h5>completely inspired by <a href="http://microjs.com/">MicroJS</a></h5>
            <span>Want to add your own? <a href="https://github.com/k33g/nano.golo">Fork this site on GitHub</a>, add your framework to <b>data.js</b> and submit a pull request.</span>
            <h4>&#10172; Gists accepted</h4>
        </div>        
        <!-- template -->
        <script type="text/template" id="rubrics_tpl">
            <% _.each(rubrics, function(rubric) { %>
            <div class="span4">
                <h2><%= rubric.label %></h2>

                <hr>
                <% _.each(rubric.frameworks, function(framework) { %>
                    <h4><%= framework.name %></h4>
                    <span class="label label-inverse">by <%= framework.author %></span>


                        <% _.each(framework.tags, function(tag) { %>
                            <span class="label label-info">
                                <%= tag %>
                            </span>
                        <% }); %>
                    <br>

                    <span><%= framework.description %></span><br>
                    <span><a href="<%= framework.url %>">Go to <%= framework.name %></a></span><br>
                <% }); %>



            </div>
            <% }); %>
        </script>

        <div class="row-fluid" id="rubrics"></div>

    </div>


    <script src="js/vendors/jquery-1.9.1.min.js"></script>
    <script src="js/vendors/underscore-min.js"></script>
    <script src="js/vendors/backbone-min.js"></script>


    <script src="https://raw.github.com/k33g/nano.golo/master/data.js"></script>

    <script>
        window.nGolo = {
            Framework : Backbone.Model.extend({}),
            Frameworks : Backbone.Collection.extend({
                model : this.Framework
            }),
            Rubric  : Backbone.Model.extend({}),
            Rubrics : Backbone.Collection.extend({
                model: this.Rubric,
                initialize : function () {
                    for(var m in nanoGolo){

                        var tmpFrameworks = new nGolo.Frameworks()

                        _.each(nanoGolo[m], function(frameworkFields){
                            console.log(frameworkFields)
                            tmpFrameworks.add(new nGolo.Framework(frameworkFields))
                        })

                        this.add(new nGolo.Rubric({
                            label : m, frameworks : tmpFrameworks.toJSON()
                        }))
                    }
                }
            }),
            RubricsView : Backbone.View.extend({
                el: $("#rubrics"),
                initialize : function() {
                    this.template = _.template($("#rubrics_tpl").html());
                    //_.bindAll(this, "render");
                    //this.collection.bind("change", this.render);
                },
                render : function() {

                    //var content = this.template({rubrics:this.collection.toJSON()});
                    //$(this.el).html(content);
                    this.$el.html(
                            this.template({
                                rubrics:this.collection.toJSON()
                            })
                    );
                    return this;
                }
            })


        }


        $(function (){

            window.rubrics = new nGolo.Rubrics()
            window.rubricsView = new nGolo.RubricsView({ collection : rubrics })

            rubricsView.render()

            $("body").css("visibility","visible");  /*<body style="visibility:hidden">*/

        });

    </script>

    <style>
        body {
            margin: 20px;
        }
    </style>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11383603-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</body>
</html>